:root {
    --accent-color: #4DAAE6;
    --main-color: black;
}

body {
    color: var(--main-color);
    background-color: rgb(247, 244, 237);
    transition: all 1s ease-out;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


.uppercase {
    text-transform: uppercase;
}
.accent {
    position: relative;
    z-index: 1;
}
.accent::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.25em;
    height: 0.5rem;
    background: var(--accent-color);
    z-index: -1;
}



    /*-------------------------------------------
    1) B- BUTTONS
    -------------------------------------------*/

.button {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-decoration: none !important;
    color: #fff;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem 1.5rem;
    cursor: pointer;
}
.button:hover {
    box-shadow: none;
}


#intro {
    height: 100%;
    padding: 0;
}

.figure-intro {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "all";
    justify-items: center;
    align-items: start;
    margin: 0 auto;
}

.circle-intro {
    grid-area: all;
    max-width: 75%;
    z-index: 1;
    opacity: 0;
    animation: appear-circle 1.25s ease-out forwards;
}
@keyframes appear-circle {
    from {
      opacity: 0;
      transform: scale(0.3);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

.img-intro {
    padding-top: 35px;
    grid-area: all;
    max-width: 60%;
    z-index: 2;
    opacity: 0;
    animation: appear-img 2s 1.25s ease-out forwards;
}
@keyframes appear-img {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
