<div class="container">
  <h1>Merci <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %> !</h1>
  <h1>Votre demande a bien été enrengistrée!</h1>
  <h5>Nous revenons vers vous dans les plus brefs delais!</h5>
</div>
