<div class="container">
  <section id="intro">
    <div class="figure-intro">
      <img class="circle-intro" src="https://raw.githubusercontent.com/MartaFagundez/FreeCodeCamp/master/LandingPage/cactus_intro_circle.png" alt="">
      <%= image_tag "https://cdn2.iconfinder.com/data/icons/set-of-various-icons/512/plane-512.png", class: "img-intro" %>
    </div>

    <h1>Retard Annulation Surbooking?<br>Déposer une <span class="uppercase accent">Réclamation</span> <br>et récupérer jusqu'à 600E</h1>
    <br>
    <div class="explore">
      <a class="button" href="/forms/new">Estimer mes droits!</a>
    </div>
  </section>
</div>
